.admin-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}
.admin-heading {
  color: #19105B; /* Set title color */
  font-size: 24px; /* Adjust font size as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}
.admin-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-button {
  background-color: #19105B; /* Set button background color */
  color: white;
  padding: 12px 24px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.admin-button:last-child {
  margin-bottom: 0;
}

.admin-button:hover {
  background-color: #42337c; /* Set a light shade of the button background color */
}

.admin-button:focus {
  outline: none;
}
